@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 1000px; /* New width for default modal */
        color: #1e12b1;
        background-color: #feff78;
    }

    .modal-sm {
        width: 350px; /* New width for small modal */
    }
}

@media screen and (min-width: 992px) {
    .modal-lg {
        width: 950px; /* New width for large modal */
    }
}

.modal-dialog .btn {
    background-color: #62b6fd;
    color: #1e12b1;
}

.modal-body {
    background-color: #fffc7b;
    color: #1e12b1;

}